a{
    color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(235, 14, 128);
    display: flex;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(9, 8, 8);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(85, 84, 84);
  }
